.cell {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    margin: -1px;
    padding: 0;
    display: inline-block;
    background-color: #000;
}

.row {
    margin: -4px;
}

#main {
    width: 100%;
    padding-top: 50px;
    text-align: center;
}

textarea {
    width: 700px;
    height: 100px;
}

.play {
    height: 100px;
    width: 300px;
    margin-top: 0px;
    float:right
}



.me {
    background-color: #00f;
}

.enemy {
    background-color: #f00;
}

.intersect {
    background-color: magenta;
}